html, body {
    font-family: Consolas, monospace;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

a, a:hover, a:focus, a:visited {
    color: #0c7ef1;
    border-bottom: 1px solid #0c7ef1;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    border-bottom-color: transparent;
}

#app {
    margin: 0 auto;
    width: 520px;
    height: 520px;
    background: #cae1f3;
    position: relative;
}

header {
    margin: 20px auto;
    width: 520px;
    background: #cae1f3;
    padding: 15px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 1.6;
}

footer {
    margin: 20px auto;
    width: 520px;
    background: #cae1f3;
    padding: 15px;
    box-sizing: border-box;
    font-size: 10px;
    line-height: 1.6;
    text-align: center;
}

.node {
    width: 48px;
    height: 48px;
    position: absolute;
    background: #000;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.67);
}

.is-empty {
    background: linear-gradient(to right, #3a3a3a 0%, #000000 35%, #4a4a4a 100%) !important;
    border: 10px solid #cae1f3;
    cursor: default;
    box-shadow: none;
}

.is-active {
    border: 2px solid red;
}

.status {
    padding: 5px 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.moves {
    padding: 5px 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.new-game {
    margin-left: 15px;
}